#quarto-sidebar-toc-left::before {
  content: "";
  float: left;
  padding-right: 100%;
  padding-bottom: 50%;
  background-image: url("NBIS-logo.png");
  background-size: 70%;
  background-position: left;
  background-repeat: no-repeat;
}

iframe {
  width: 800px;
  height: 800px;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}